* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
  }

  body{
    font-family:'Roboto';
    background-color: #E5E5E5;
    overflow-x: hidden; 
  }

  button{
    cursor: pointer;
  }